In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
visa_df=pd.read_csv(r"C:\Users\Admin\Documents\EDA\Visadataset - Visadataset (1).csv")
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

***Task***

- take prevailing wage column
- caluculate the mean valy prevailing wage
- calculate the standard deviation of prevailaing vage
- caluculate the nr : step1- step-2
- divide the step4/step3

In [5]:
mean=visa_df["prevailing_wage"].mean()
mean

74455.81459209183

In [6]:
std=visa_df["prevailing_wage"].std()
std

52815.94232687357

In [8]:
visa_df["prevailing_wage"]
mean=visa_df["prevailing_wage"].mean()
std=visa_df["prevailing_wage"].std()
Nr=visa_df["prevailing_wage"]-wage_std
Nr/wage_std

NameError: name 'wage_std' is not defined

In [9]:
mean=visa_df["prevailing_wage"].mean()
std=visa_df["prevailing_wage"].std()
Nr=visa_df["prevailing_wage"]-mean
visa_df["prevailing_wage_z"]=Nr/std
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status,prevailing_wage_z
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied,-1.398510
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified,0.169832
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied,0.919060
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied,0.169991
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified,1.428576
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified,0.049923
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified,3.876083
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified,1.360253
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified,0.221504
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified,-0.067762

In [12]:
maxx,minn=visa_df["prevailing_wage"].idxmax(),visa_df["prevailing_wage_z"].idxmax()
minn=visa_df["prevailing_wage"].idxmin(),visa_df["prevailing_wage_z"].idxmin()

maxx,minn

(21077, (20575, 20575))

In [ ]:
***Task-2***
- compare the two columns
- get the maximum value

**standadscalar**

- standardscalar same as z-score but by using pacakge
- it is under sklearn package
- in the sklearn we have preprocessing 
- read the package
- save the package
- apply fit transfrom
- compare 3 coumns

In [13]:
from sklearn.preprocessing import standardscaler

ss=standardscaler()
visa_df['prevailing_wage_ss']=ss.fit_transfrom(visa_df[["prevailing_wage_ss"]])

ImportError: cannot import name 'standardscaler' from 'sklearn.preprocessing' (C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\preprocessing\__init__.py)

In [ ]:
visa_df=pd.read_csv(r"C:\Users\Admin\Documents\EDA\Visadataset - Visadataset (1).csv")
cols=visa_df["prevailing_wage"]
min=visa_df["prevailing_wage"]min()
max=visa_df["prevailing_wage"].max()